

h1{
  text-align:center;
  font-size:46px;
  color:black;
}

form{
  margin:20px auto;
  width:320px;
  color:steelblue;
}

input{
  padding:15px;
  font-size:inherit;
}

input[type="text"]{
  display:block;
  margin-bottom:18px;
  width:100%;
}

input[type="number"]{
  display:block;
  margin-bottom:18px;
  width:100%;
}

input[type="submit"]{
  width:250px;
  height:40px;
  color:white;
  background-color:green;
  margin-left:40px;
  border-color:black;
}

input:focus{
  background-color:lightblue;
}


a{
color:white;
}